
.cabecalho
{
    background-color:aqua
}
h1 {
    text-align: center;
}
h2 {
     background-color: blueviolet;
}
.imagem{
    width: 20px;
}
p {
     font-size: 18px
}
.paragráfo1 {
    font-size: 16px
}
.lista {
    display: inline-block;
    margin: 0 16px
}